# Ignore node_modules and cache
node_modules/
.cache/
**/.cache/

# Ignore build output
build/
dist/

# Ignore logs
*.log

# Ignore Mac system files
.DS_Store

# Ignore IDE/project files
*.iml
.idea/
.vscode/

# Ignore backend build output
target/
*.class

# Ignore environment files
.env
.env.*
